<ul class="card-text  list-group list-group-flush">
    {% for content in data[1] %}
        <li class="list-group-item">
            <div class="row">
                <div class="cv period col-md-3 mb-3 mb-md-0">
                    {% if content.startDate %}
                        {% assign startDate = content.startDate | split: '-' | slice: 0, 2 | join: '.' %}
                        {% if content.endDate %}
                            {% assign endDate = content.endDate | split: '-' | slice: 0, 2 | join: '.' %}
                            {% assign date = startDate | append: ' - ' | append: endDate %}
                        {% else %}
                            {% assign date = startDate %}
                        {% endif %}
                    {% else %}
                        {% assign date = 'Present' %}
                    {% endif %}
                    <h5 style="color: #696969"> {{ date }} </h5>
                </div>
                <div class="col-md-9 mt-2 mt-md-0">
                    <h5 class="title font-weight-bold ">
                        {{ content.name }}
                    </h5>
                    <h6 class="" style="font-style: italic; color: #696969">{{ content.summary }}</h6>
                    <ul class="items">
                        {% for item in content.highlights %}
                            <li>
                                <span class="item">{{ item }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
